body {
  overflow-x: hidden;
}

.main-header {
  width: 100vw;
  height: 40px;
  background-color: #01b7f2;
}

.main-header .header-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-header .header-col1 .main-header-main-ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.main-header .header-col1 .main-header-main-ul li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.main-header .header-col1 .li-lang {
  margin-left: 15px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
}

.main-header .header-col1 .li-lang:hover .main-header-inner-ul {
  display: block;
}

.main-header .header-col1 .li-lang:hover a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.main-header .header-col1 .li-lang .main-header-inner-ul {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 60px;
  padding-left: 15px;
  margin-right: 10px;
  padding: 0;
  border: 2px solid #01b7f2;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 20px;
  left: 0;
}

.main-header .header-col1 .li-lang .main-header-inner-ul li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 60px;
  padding-left: 15px;
  margin-left: 0;
  border-bottom: 1px solid #f5f5f5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.main-header .header-col1 .li-lang .main-header-inner-ul li a {
  color: gray;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.main-header .header-col1 .li-lang .main-header-inner-ul li:hover {
  background-color: rgba(211, 211, 211, 0.295);
  cursor: pointer;
}

.main-header .header-col1 .li-lang .main-header-inner-ul li:hover a {
  color: #01b7f2;
}

.main-header .header-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header .header-col2 li {
  margin-left: 15px;
  font-size: 11px;
}

.main-header .header-col2 li a {
  text-decoration: none;
  color: white;
}

.main-header .header-col2 .main-header-main-second-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 40px;
  background: gold;
  font-size: 14px;
  position: relative;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li:hover {
  background-color: #dfbe04;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li:hover a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li i {
  margin-right: 5px;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li .main-second-ul-last-li {
  margin-left: 15px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li .main-second-ul-last-li:hover .main-header-second-inner-ul {
  display: block;
}

.main-header .header-col2 .main-header-main-second-ul .main-second-ul-li .main-second-ul-last-li:hover a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

#logo .col-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#logo .col-9 .logo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#logo .col-9 .logo-ul li {
  list-style: none;
  margin-left: 30px;
}

#logo .col-9 .logo-ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #acacac;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#logo .col-9 .logo-ul li a:hover {
  color: #01b7f2;
}

#logo .col-9 .homeLi {
  position: relative;
}

#logo .col-9 .homeLi:hover .homeLi-ul {
  display: block;
}

#logo .col-9 .homeLi .homeLi-ul {
  position: absolute;
  z-index: 99;
  right: -70px;
  width: 200px;
  display: none;
}

#logo .col-9 .homeLi .homeLi-ul li:last-child {
  border: none;
}

#logo .col-9 .homeLi .homeLi-ul li {
  border-bottom: 1px solid rgba(56, 56, 56, 0.075);
  background: #04afe7;
  list-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 27px;
  padding-left: 15px;
}

#logo .col-9 .homeLi .homeLi-ul li:hover {
  background-color: #337ab7;
}

#logo .col-9 .homeLi .homeLi-ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #acacac;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: white;
}

#logo .col-9 .logo-ul li.active {
  color: #01b7f2 !important;
}

#click-navbar {
  width: 100%;
}

#click-navbar ul {
  padding: 0;
  background: #01b7f2;
  border: 1px solid #01b7f2;
}

#click-navbar ul li {
  list-style: none;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
}

#click-navbar ul li a {
  text-decoration: none;
  color: white;
}

#click-navbar .click-navbar-inner-ul li {
  border: none;
  list-style: none;
  color: #04aee7ad;
}

#click-navbar .click-navbar-inner-ul li a {
  font-size: 13px;
}

#click-navbar .eng-li:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#click-navbar .eng-li:hover .navbar-lang-ul {
  display: block;
}

#click-navbar .eng-li .navbar-lang-ul {
  display: none;
}

#click-navbar .eng-li .navbar-lang-ul li {
  list-style: none;
  padding: 18px;
  border-bottom: 1px solid #037ba3;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#click-navbar .eng-li .navbar-lang-ul li:hover {
  background: #037ba3;
}

#slider {
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

#slider .main-slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

#slider .main-slider .left-arrow {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 3%;
  -webkit-transform: translate(-50%, -3%);
          transform: translate(-50%, -3%);
}

#slider .main-slider .left-arrow i {
  font-size: 40px;
  color: white;
}

#slider .main-slider .right-arrow {
  position: absolute;
  z-index: 11;
  top: 50%;
  right: 1%;
  -webkit-transform: translate(-50%, -1%);
          transform: translate(-50%, -1%);
}

#slider .main-slider .right-arrow i {
  font-size: 40px;
  color: white;
}

#slider .main-slider .slider-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400vw;
  position: relative;
  right: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  padding: 0;
}

#slider .main-slider .slider-ul li {
  list-style: none;
  width: 100vw;
}

#slider .main-slider .slider-ul li img {
  width: 100vw;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#info {
  position: relative;
  height: 320px !important;
}

#info .row .col-12 ul {
  position: absolute;
  top: -92px;
}

#info .row .col-12 ul li {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(16, 13, 19, 0.432);
  margin-left: 4px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#info .row .col-12 ul li:hover {
  background: rgba(255, 255, 255, 0.473);
}

#info .row .col-12 ul li:hover a {
  color: rgba(65, 65, 65, 0.61);
}

#info .row .col-12 ul li a {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.514);
  font-size: 14px;
}

#info .row .col-12 ul li.active {
  background: rgba(255, 255, 255, 0.473);
}

#info .row .col-12 ul li.active a {
  color: #01b7f2;
}

#info .row .date-input input {
  position: relative;
}

#info .btn-search_button {
  width: 186px;
  height: 40px;
  border: none;
  background: #98ce44;
  color: white;
  line-height: 36px;
}

#info .btn-search_button:hover {
  background: #567427;
}

#info .btn-search_button:hover .btn-icon {
  border: 1px solid #567427;
}

#info .btn-search_button .btn-icon {
  float: right;
  width: 41px;
  height: 39px;
  border: 1px solid #98ce44;
  line-height: 35px;
}

#info .tab-ul {
  top: -44px !important;
}

#info .tab-ul li.active {
  color: #01b7f2 !important;
}

#info .info-tab {
  position: absolute;
  top: 0;
  left: 80px;
  opacity: 0;
}

#info .info-tab.active {
  opacity: 1;
  color: #232323;
}

#info .info-select-md {
  width: 95vw;
  height: 40px;
  background: white;
  border: 1px solid white;
  position: absolute;
  top: -40px;
  left: 0;
}

#info .info-select-md .info-select-md li.active {
  display: block !important;
}

#info .info-select-md li {
  color: black;
  list-style: none;
  padding: 0;
}

#info .left-select {
  width: 30px;
  background: #01b7f2;
  position: absolute;
  top: -33px;
  left: 2%;
  z-index: 1;
}

#info .left-select i {
  color: white;
  font-size: 18px;
}

#info .right-select {
  width: 30px;
  background: #01b7f2;
  position: absolute;
  top: -33px;
  right: 2%;
  z-index: 1;
}

#info .right-select i {
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 991.9px) {
  #info {
    height: 700px !important;
  }
}

#destinations {
  background: #f5f2f2d8;
}

#destinations .destination1 {
  width: 255px;
  overflow: hidden;
}

#destinations .destination1 .destination-img {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#destinations .destination1 .destination-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#destinations .destination1 .destination-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#destinations .destination1 .destination-img:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1) rotateY(360deg);
          transform: scale(1) rotateY(360deg);
  z-index: 1;
}

#destinations .destination1 .main-destination1 a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#destinations .destination1 .main-destination1 a:hover {
  color: #01b7f2;
}

#destinations .destination1 .main-destination1 span {
  font-size: 11px;
  color: #232323;
}

#destinations .destination1 .destination-price small {
  font-size: 11px;
  color: #232323;
  display: block;
}

#destinations .destination1 .destination-price .price-span {
  font-size: 19px;
  color: #7db921;
}

#destinations h2 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 14px;
}

#destinations img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.overlay {
  width: 255px;
  height: 161px;
  background: #01b6f273;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  width: 100%;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 45px;
  color: white;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */